*.class
*.jks

# Package Files #
*.jar
*.war
*.ear
target/*
.idea/*
*.iml
*.DS_Store
/target/
/bin/

# Eclipse Project Setting #
.classpath
.project
.settings/*

# exclude hosts.yml symlink
keybox-loader-mysql/hosts.yml
# exclude metadata xml file
src/main/resources/security/*.xml
# exclude any logs written
logs/
